* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.app-name {
  margin: 8.5rem 0 4.5rem 0;
}

.main-box {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 52%;
  column-gap: 2.5rem;
  padding: 2.2rem;
  border-radius: 1.5rem;
}

.text-color {
  color: hsl(186, 14%, 43%);
}

.left label:first-child{
  margin-top: 0;
}

.left .input {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  padding: 0.6rem 2rem;
  -moz-appearance: textfield;
  text-align: right;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 4%;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Space Mono", monospace;
}

.left input:placeholder-shown{
  font-family: "Space Mono", monospace;
}

.left .input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.left input[name="bill"] {
  background-image: url(images/icon-dollar.svg);
}

.left input[name="people"] {
  background-image: url(images/icon-person.svg);
}

.left label {
  display: block;
}
.left .tip-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.6rem;
  row-gap: 0.7rem;
}

.left .text-color {
  font-size: 0.9rem;
  margin: 1.4rem 0 0.6rem 0;
}

.left .no-of-peoples{
  display: flex;
  justify-content: space-between;
}
.tip {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: white;
  background-color: hsl(183, 100%, 15%);
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.tip:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.custom {
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  color: black;
  font-weight: 700;
}

.custom:focus {
  outline: 2px solid hsl(183, 100%, 15%);
}
.custom:hover {
  background-color: hsl(189, 41%, 97%);
}
.custom:placeholder-shown {
  color: hsl(186, 14%, 43%);
}
.right {
  display: flex;
  flex-direction: column;
  border-radius: 1.1rem;
  padding: 2.2rem 2.2rem 1.8rem 2.2rem;
  background-color: hsl(183, 100%, 15%);
}

.right .text-color {
  font-size: 0.8rem;
}

.box-1,
.box-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.box-price {
  font-size: 2.3rem;
  flex-basis: 30%;
  color: hsl(172, 67%, 45%);
}

.box-head {
  color: #fff;
}
.reset {
  border: none;
  width: 100%;
  padding: 0.8rem 0;
  background-color: hsl(172, 64%, 53%);
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  margin: 6.8rem 0 0 0;
  letter-spacing: 0.09rem;
  font-size: 0.9rem;
}

.reset:hover {
  cursor: pointer;
  background-color: hsl(172, 79%, 65%);
}

.show{
  display: block;
  color: red;
}

.hide{
  display: none;
}
